.container {
  max-width: 1170px;
  margin-inline: auto;
  padding-inline: 3.2rem;
}

.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: var(--spacing-800);
}

.grid-3-cols {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: var(--spacing-250);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-600);
}

body {
  font-family: var(--primary-font);
  color: var(--clr-neutral-900);
}

section {
  margin-block: 120px;
}

.hero__img,
.section__img {
  border-radius: 12px;
}

.heading {
  font-size: var(--fs-3xl);
  font-weight: var(--fw-600);
  line-height: var(--lh-130);
  letter-spacing: var(--ls-tighter);
}

.btn {
  padding: 0.8em 1.2em;
  border-radius: 8px;
  font-size: var(--fs-sm);
  font-weight: var(--fw-600);
  line-height: var(--lh-130);
  letter-spacing: var(--ls-tight);
  text-transform: uppercase;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.btn--full-width {
  width: 100%;
}

.btn--primary {
  background-color: var(--clr-light-salmon-50);
  border: 2px solid var(--clr-neutral-700);
  color: var(--clr-neutral-900);
}

.btn--primary:hover {
  background-image: var(--clr-btn-gradient);
  box-shadow: 0 0 0 3px var(--clr-neutral-0), 0 0 0 5px var(--clr-neutral-700);
}

.btn--secondary {
  background: none;
  color: inherit;
  border: 2px solid var(--clr-neutral-0);
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    margin-inline: auto;
  }

  section {
    margin-block: 80px;
  }

  .grid-2-cols {
    grid-template-columns: 1fr;
    gap: var(--spacing-500);
  }

  .grid-3-cols {
    align-items: stretch;
  }

  .grid-4-cols {
    grid-template-columns: 1fr;
  }

  .grid--order {
    order: -1;
  }
}

@media screen and (max-width: 475px) {
  .container {
    width: 100%;
    padding-inline: 1.6rem;
  }

  .btn {
    font-size: 1.6rem;
  }

  .heading {
    font-size: var(--fs-xl);
  }
}
